$active: #0d8db8;

.hello-world-wrapper {
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $active;

  button {
    margin-top: 20px;
    padding: 5px 15px;
    border: 1px solid $active;
    border-radius: 5px;
    color: $active;

    &:hover {
      background-color: $active;
      color: white;
    }
  }
}
