$bg: #E9F6FC;
$active-el: #49BFF9;

.ym-slider-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;

  .title-container {
    text-align: center;
    padding-top: 10px;
  }

  .main-container {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .month-container {
      font-size: 12px;

      div {
        cursor: pointer;
        text-align: center;
        margin-top: 4px;
        &.active {
          color: $active-el;
        }
      }
    }

    .year-container {
      margin-left: 30px;
      position: relative;
      width: 120px;
      height: 120px;
      border-radius: 125px;
      border: 3px solid $bg;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;

      .year-slider {
        position: absolute;
        height: 20px;
        width: 20px;
        background: $active-el;
        border-radius: 50%;
        cursor: pointer;
        z-index: 3;
      }
    }
  }

  .cta-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    .apply-button {
      padding: 5px 20px;
      border-radius: 20px;
      background-color: $active-el;
      color: white;
      cursor: pointer;
    }
  }
}
